*, 
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #FCFCFC;
  --clr-med: #d3d3d3;
  --clr-dark: #121113;
  --clr-accent: #a48dc9;
  --clr-accent2: #838EC9;
  --clr-accent3: #C697C9;
    
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.dark-mode {
  background-color: #08060c;
  color: var(--clr-light);

  --clr-accent: #43335e;
}

.dark-mode-container {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  margin: 0 2em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 38px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-accent);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: var(--clr-light);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--clr-accent);
}

input:checked + .slider:before {
  background-color: var(--clr-dark);
}


input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-dark);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  content: " 🌙  ";
  padding: 3px;
}

section {
  padding: 3em 3em 6em;
}

img {
  display: block;
  max-width: 100%;
}

strong { font-weight: var(--fw-bold)!important }

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.4em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 2px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn.btn-blog {
  margin-top: 5em;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 { font-size: var(--fs-h1)!important }
h2 { font-size: var(--fs-h2)!important }
h3 { font-size: var(--fs-h3)!important }

/* Navigation  */

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo-container {
  margin-top: -10px;

  display: flex;
}

.logo {
  width: auto;
  height: 50px;
}

.nav {
  position: fixed;
  background-color: var(--clr-dark);
  background-image: url(../img/leaves.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: 2rem;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}


.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after { 
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 250ms ease-in-out;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  border-radius: 2px;
}

/* Who I Am Animations */
.section__subtitle.section__subtitle--about span{
  display: block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .08em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--ff-secondary) }
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/*  Intro Section  */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
  border-radius: 2px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  filter: grayscale(100%);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {

  section {
    padding: 6em;
  
  }

  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: 
        "img title"
        "img subtitle";
    grid-template-columns: min-content max-content;
  }


  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
    border-radius: 2px;
  }    
  
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    font-size: 12px;
  }
}

@media (min-width: 800px) {
  .section__subtitle--intro {
    font-size: var(--fs-body);
  }
}

/*  My services section  */

.my-services {
  background-color: var(--clr-dark);
  background-image: url(../img/leaves.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .service + .service {
    margin-left: 2em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  filter: grayscale(100%);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
    grid-column-gap: 2em;
  }
  
  .section__title--about {
    grid-area: title;
  }
  
  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  
  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work Section  */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.card {
  background-color: dodgerblue;
  padding: 1rem;
  height: 15rem;
  background-repeat:no-repeat;
  background-size:cover;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.card:hover {
  opacity: .7;
  cursor: pointer;
}


.img-1 {
  background-image: url('../img/long-nexthome1.jpg');
}

.img-2 {
  background-image: url('../img/growersbrains.jpg');
}

.img-3 {
  background-image: url('../img/portfolio-ITN.jpg');
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}


/* .portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolio__img {
  transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    width: 100%;
    height: 24em;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: .5;
}

.portfolio__link {
  color: inherit;
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.portfolio__link:hover {
  text-decoration: underline;
  opacity: .7;
} */

/* Footer */

.footer {
  /* background: linear-gradient(180deg, rgba(18,17,19,1) 4%, rgba(164,141,201,1) 92%); */
  text-align: center;
  padding: .5em 0 0 0;
  font-size: var(--fs-h3);
  color: var(--clr-dark);
  background-color: var(--clr-accent);
}

.footer__email {
  font-size: 16px;
}

.footer a { 
  color: inherit;
  text-decoration: none;
}

.footer__img {
  width: 250px;
  margin: 0 auto;
  filter: grayscale(100%);
  padding: 1em 0;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.social-list__link:hover {
  opacity: .8;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}

.copyright {
  font-size: 12px;
}

/* Portfolio Items */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Accessibility */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Email Address Animation  */

.ml6 {
  position: relative;
  font-weight: 400;
  font-size: 16px;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}